# Holdings Service
# Plaid API credentials from dashboard.plaid.com > Developers > Keys
MONAY_HOLDINGS_PLAID_CLIENT_ID=
MONAY_HOLDINGS_PLAID_SECRET=

# sandbox or production
MONAY_HOLDINGS_PLAID_ENV=sandbox

# Server config
MONAY_HOLDINGS_LISTEN_ADDR=:8080
MONAY_HOLDINGS_LOGGING_LEVEL=info
